<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >category-detail</title >
</head >
<body >
<nav th:replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--heading Area-->
<div class="container-fluid bg-dark form-Border" >
  <div class="row text-center formManagement border-info" >
    <!--View List Button-->
    <div class="col" >
      <a href="/category" class="btn btn-primary" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Category Name-->
    <div class="col" >
      <h2 class="text-light text-center" >
        <strong >
          <span th:text="${invoiceDetail.code}" ></span >
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--details-->
<div th:fragment="invoiceDetailsFragment" class="container-fluid bg-info formBorder" >
  <div class="col-sm-12 flex-column " >
    <div class="row" >
      <!--  Customer details-->
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <div th:replace="~{customer/customer-detail :: castomerDetailsFragment}" ></div >
      </div >
      <!--  Invoice detils-->
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <div class="form-group col-6 flex-column" >
          <!--id-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="id" >ID :</label >
            </div >
            <div class="col-md-4" >
              <p id="id" th:text="${invoiceDetail.id}" class="display_detail" ></p >
            </div >
          </div >
          <!--Bank Name-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="mainCategory" >Bank Name</label >
            </div >
            <div class="col-md-4" >
              <p id="mainCategory" th:text="${invoiceDetail.bankName}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Card number-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="name" >Card Number :</label >
            </div >
            <div class="col-md-4" >
              <p id="name" th:text="${invoiceDetail.cardNumber}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Remarks-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="remark" >Remarks :</label >
            </div >
            <div class="col-md-4" >
              <p id="remark" th:utext="${invoiceDetail.remarks}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Code-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="code" >Invoice Number :</label >
            </div >
            <div class="col-md-4" >
              <p id="code" th:text="${invoiceDetail.code}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Payment method-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="paymentMethod" >Payment Method :</label >
            </div >
            <div class="col-md-4" >
              <p id="paymentMethod" th:text="${invoiceDetail.paymentMethod.paymentMethod}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Total price-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="totalPrice" >Total Price :</label >
            </div >
            <div class="col-md-4" >
              <p id="totalPrice" th:text="${{invoiceDetail.totalPrice}}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Total Amount-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="totalAmount" >Total Amount :</label >
            </div >
            <div class="col-md-4" >
              <p id="totalAmount" th:text="${{invoiceDetail.totalAmount}}"
                 class="display_detail" ></p >
            </div >
          </div >
        </div >
        <div class="form-group col-6 flex-column" >
          <!--Discount Amount-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="discountAmount" >Discount Amount :</label >
            </div >
            <div class="col-md-4" >
              <p id="discountAmount" th:text="${{invoiceDetail.discountAmount}}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Tendered Amount-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="amountTendered" >Tendered Amount :</label >
            </div >
            <div class="col-md-4" >
              <p id="amountTendered" th:text="${{invoiceDetail.amountTendered}}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Balance-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="balance" >Balance :</label >
            </div >
            <div class="col-md-4" >
              <p id="balance" th:text="${{invoiceDetail.balance}}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Balance-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="invoicePrintOrNot" >Print or Not :</label >
            </div >
            <div class="col-md-4" >
              <p id="invoicePrintOrNot" th:text="${invoiceDetail.invoicePrintOrNot.invoicePrintOrNot}"
                 class="display_detail" ></p >
            </div >
          </div >
          <!--Discount ratio-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="discountRatio" >Discount Ratio :</label >
            </div >
            <div class="col-md-4" >
              <p id="discountRatio"
                 th:text="${invoiceDetail.discountRatio.amount+' %'+ '  Name : '+invoiceDetail.discountRatio.amount}"
                 class="display_detail" ></p >
            </div >
          </div >

        </div >
      </div >
    <!-- todo   invoice items details-->
    </div >
  </div >
  <!--Back Button-->
  <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
    <a href="/category" >
      <button class="btn btn-dark" type="button" tabindex="10" >
        <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp; &nbsp;Back
      </button >
    </a >
  </div >
  <br />
</div >

<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}" ></footer >
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}" ></script >

</body >
</html >